body {
  font-family: "Montserrat";
}

/* title section */

#title
{
  background-color: #ff4c68;
}

.container-fluid{
  padding : 3% 15% 7%;
}

h1 {
  font-family: "Montserrat";
  font-weight : 900;
  font-size: 3.5rem;
  line-height: 1.5;
  color:#fff;
}

h2{
  font-family: "Montserrat";
  font-weight: 700;
  font-size: 3rem;
  line-height: 1.5;

}

h3{
  font-family: "Montserrat";
  font-weight:700;
}

p{
  color:#8f8f8f;
}

/* navigation bar */

.navbar {
  padding:0 0 4.5rem;
}

.navbar-brand
{
  font-family: "Ubuntu";
  font-size: 2.5rem;
  font-weight: bold;
}

.nav-item {
  padding-left: 5%;
  padding-right: 5%;
}

/* download button */

.download-button{
  margin:5% 3% 5% 0;
}

/* title-image */

.title-image{
  width: 60%;
  transform: rotate(25deg);
  position: absolute;
  right: 30%;
}

/* features section */

#features{
  padding: 8% 15%;
  background-color: #ffffff;
  position: relative;
  z-index:1;
}

.feature-box{
  text-align: center;
  padding: 5%;
}

.icon{
  color:#ef8172;
  margin-bottom: 2rem;
}

.icon:hover{
  color: #ff4c68;
}


/* testimonials */

#testimonials{
  text-align: center;
  background-color: #ef8172;

  color: #fff;
}

.testimonial-image{
  width:10%;
  border-radius: 100%;
  margin:30px;
}


#press{
  background-color: #ef8172;
  text-align: center;
}

.press-icon{
  width: 12%;
  margin:20px 20px 40px;
}

.carousel-inner{
  padding: 8% 15%;
}

#pricing{
  padding:100px;
  text-align: center;
}

.pricing-col{
  padding: 3% 2%;
}

@media (max-width: 1028px) {

  #title{
    text-align: center;
  }

  .title-image{
    position: static;
    transform: rotate(0);
  }
}


#cta{
  text-align: center;
  background-color: #ff4c68;
  padding: 5% 15% 7%;
}

.cta-title{
  font-family: "Montserrat";
  font-weight : 900;
  font-size: 3.5rem;
  line-height: 1.5;
  color:#fff;
}

.cta-btn{
  margin : 3% 2% 0;
}

#footer{
  text-align: center;
  padding : 5% 7% 3%;
}

.footer-icon{
  margin: 1%;
}
